---
import type { Locale } from "@/consts";
import type { VideoEntry } from "@/lib/videos";
import VideoCard from "./VideoCard.astro";

interface Props {
  videos: VideoEntry[];
  lang: Locale;
}
const { videos, lang } = Astro.props;
---

<div class="video-grid">
  {videos.map((entry) => <VideoCard entry={entry} lang={lang} />)}
</div>

<style>
  .video-grid {
    display: grid;
    column-gap: 1.5rem;
    row-gap: 2.25rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    .video-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1100px) {
    .video-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
